*{
    margin:0;
    padding:0;
}

body{
    position: relative;
    width: 100%;
    height: 100%;
    background: #F3F5FC;
}

.invisible {
    display: none;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}

main {
    display: flex;
    width: 100vw;
    height: 95vh;
}

.seccion1 {
    width: 70vw;
}


.text{
font-family: 'Inter', sans-serif;
}

#logo{
    position: absolute;
    width: 2vw;
    height: 6vh;
    margin: 4vh 0 0 4vw;
}

#imagenLogo{
    width: 32px;
    height:48px;
}

.contenedorInput{
    display: block;
    width: 24vw;
    height:18vh;
    margin: 18vh 0 0 15vw;
}

#texto-ingreso{
    display: block;
    position: absolute;
    width: 36vw;
    height: 6vh;
    font-style: normal;
    font-weight: 400;
    font-size: 200%;
    line-height: 3rem;
    color: #0A3871 solid;
    background: #F3F5FC;
    border: none;
}

.mensaje{
    position: absolute;
    margin-top: 6vh;
    color:red;
    font-style: italic;
    text-decoration: underline;
    list-style: none;
}

.aviso{
    display: inline-block;
    width: 25vwz;
    height: 3vh;
    margin: 43vh 0 0 15vw;
    align-items: center;
}

#signo-atencion{
    width: 16px;
    height: 16px;
}

.aviso-atencion{
    width: 205px;
    height: 18px;
    margin-left: 1vh;
    font-family: 'Inter', sans-serif;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 69%;
    opacity: 70%;  
}

.contenedor-botones{
    position: absolute;
    width: 32.5vw;
    height: 6.5vh;
    margin: 1vh 0 0 15vw;
}

.btn{
    position: static;
    width: 15.5vw;
    height: 6.5vh;
    border-radius: 24px;
}

.boton-primario{
    background: #0A3871;
    color: #ffffff;
}

.boton-secundario{
    margin-left: 1vw;
    background: #D8DFE8;
    border: 1px solid #0A3871;
}

.seccion2 {
    width: 30vw;
}

.presentacion{
    position: absolute;
    width: 20vw;
    height: 89vh;
    margin: 3vh 2vw 3vh 8vw;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.8);
    border-radius: 32px;
    background: #ffffff;
}

.munieco{
    width: 16vw;
    height: 30vh;
    margin: 22vh 2vw 0 2vw;
    vertical-align: top;
}

.contenedor-textos{
    display:block;
    position: absolute;
    width: 18vw;
    height: 26vh;
    margin: 1vh 1vw 0 1vw;
}

.alerta{
    width: 16vw;
    height: 9vh;
    margin: 5%;
    font-size: 150%;
    font-weight: bold;
    Line-height: 29px;
    text-align: center;
    vertical-align: top;
}

.pedido-ingresar{
    width: 16vw;
    height: 9vh;
    margin: 5%;
    font-size: 100%;
    Line-height: 29px;
    text-align: center;
    vertical-align: top;
}

#transformado{
    position: absolute;
    width: 17vw;
    height: 75vh;
    margin: 2vh 1.5vw 2vh 1.5vw;
    border: none;
    font-size: 16px;
    font-size: 1.5rem;
    text-align: center;
    font-style: oblique;
}

#copiar{
    position: absolute;
    width: 17vw;
    height: 6.5vh;
    margin: 79.5vh 1.5vw 2vh 1.5vw;
    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;
    background: #FFFFFF;
    font-size: 1rem;
    line-height: 19px;
    text-align: center; 
}

#copiarVerde{
    position: absolute;
    width: 17vw;
    height: 6.5vh;
    margin: 79.5vh 1.5vw 2vh 1.5vw;
    color: #4cd362;
    border: 1px solid #4cd362;
    box-sizing: border-box;
    border-radius: 24px;
    background: #FFFFFF;
    font-size: 1rem;
    line-height: 19px;
    text-align: center; 
}

footer{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 3vh;
    font-size: 80%;
}

@media only screen and (min-width: 397px) and (max-width: 1024px) and (max-height: 1174px) {
    body, main {
        display: block;
    }
    
    .seccion1, .seccion2, footer {
        display: block;
        width: 100vw;
    }

    body, main {
        display: block;
    }
    
    .seccion1, .seccion2, footer {
        display: block;
        width: 100vw;
    }
    
    #logo, .contenedorInput, .aviso, .contenedor-botones, .presentacion, #texto-ingreso{
        width: 93vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    
    .munieco{
        width: 0;
        height: 0;
        margin: 0;
    }
    
    .presentacion{
        height: 13vh;
        margin-top: 10vh;
    }
    
    .alerta, .pedido-ingresar{
        width: 90vw;
        height: 4vh; 
        margin: 1% 2% 0 1%; 
    }
    
    #logo{
        margin-top: 2vh;
        margin-bottom: 20vh;
    }
    
    .contenedorInput{
        margin-top: 1vh;
    }
    
    #texto-ingreso{
        margin-left: 0;;
    }
    
    .aviso{
        margin-top: 30vh;
    }
    
    .btn{
        width: 45.5vw;
    }

    .contenedor-textos{
        height: 0;
    }
    
    footer{
        margin: 0;
        font-weight: bold;
        font-style: italic;
    }

}

@media only screen and (min-width: 397px) and (max-width: 1024px) and (max-height: 1384px) {

    body, main {
        display: block;
    }

    .seccion1, .seccion2, footer {
        display: block;
        width: 100vw;
    }
   
    #logo, .contenedorInput, .aviso, .contenedor-botones, .presentacion, #texto-ingreso{
        width: 93vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .munieco, .contenedor-textos{
        width: 0;
        height: 0;
        margin: 0;
    }

    .presentacion{
        height: 10vh;
        margin-top: 10vh;
    }

    .alerta, .pedido-ingresar{
        width: 90vw;
        height: 4vh; 
        margin: 1% 2% 0 1%; 
    }

    #logo{
        margin-top: 4vh;
    }

    .contenedorInput{
        margin-top: 20vh;
    }

    #texto-ingreso{
        margin-left: 0;
    }

    .mensaje{
        margin-top: 8vh;
    }

    .aviso{
        margin-top: 15svh;
    }

    .btn{
        width: 45.5vw;
    }  

    #transformado, #copiarVerde, #copiar{
        width: 90vw;
        margin: 1% 2% 0 1.5%; 
    }

    #transformado{
        height: 18vh;
        margin-top: 2vh;
    }

    #copiarVerde, #copiar{
        height: 6.5vh;
        margin-top: 21vh;
    }

    #dorso{
        height: 26vh; 
    }

    footer{
        margin-top: 28vh;
        font-weight: bold;
        font-style: italic;
    }
}

@media only screen and (max-width: 396px) and (max-height: 933px) {
    body, main {
        display: block;
        direction: column;
    }
    
    main{
        height: 97vh;
    }
    .seccion1, .seccion2, footer {
        display: block;
        width: 100vw;
    }
   
    #logo, .contenedorInput, .aviso, .contenedor-botones, .presentacion, #texto-ingreso{
        width: 93vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    #logo{
        margin-top: 2vh;
    }
    
    .munieco, .contenedor-textos{
        width: 0;
        height: 0;
        margin: 0;
    }

    .contenedorInput{
        margin-top: 14vh;
    }
    
    #texto-ingreso{
        font-size: 150%;
        margin: 0;
    }

    .mensaje{
        margin-top: 8vh;
        font-size: 90%;
    }

    .aviso{
        margin-top: 20vh;
    }

    .aviso-atencion{
        font-size: 58%;
    }

    .btn{
        width: 93vw;
    }

    .boton-secundario{
        margin-top: 1.5vh;
    }

    .presentacion{
        height: 18vh;
        margin-top: 20vh;
    }

    .alerta, .pedido-ingresar{
        width: 70vw;
        height: 6vh; 
        margin: 0 3vw 0 10.5vw;
    }

    .alerta{
        font-size: 130%
    }

    .pedido-ingresar{
        font-size: 75%;
    }

    footer{
        height: 2vh;
        margin: 0;
        font-size: 80%;
        font-weight: bold;
        font-style: italic;
    }
}

@media only screen and (max-width: 396px) and (max-height: 1715px) {
    
    body, main {
        display: block;
        direction: column;
    }

    .seccion1, .seccion2, footer {
        display: block;
        width: 100vw;
    }

    #logo, .contenedorInput, .aviso, .contenedor-botones, .presentacion, #texto-ingreso{
        width: 93vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .munieco{
        width:0;
        height:0;
        margin: 0;
    }

    #logo{
        margin-bottom: 0vh;
    }

    .contenedorInput{
        margin-top: 8vh;
        margin-bottom: 2vh;
    }
    
    #texto-ingreso{
        margin:0vh;
        font-size: 190%;
    }

    .aviso{
        height: 1vh;
        margin-top: 16vh;
    }

    .contenedor-botones{
        margin: 0;
    }

    .btn{
        width: 93vw;
        height: 4vh;
        margin-top: 0.5vh;
    }

    .boton-secundario{
        margin-top: 1vh;
    }

    #dorso{
        height: 37vh;
        margin-top: 13vh;
    }

    #transformado{
        width: 80vw;
        height: 20vh;
        margin: 2vh 4vw 2vh 6vw;
    }

    #copiarVerde, #copiar{
        height: 4vh;
        width: 80vw;
        margin: 32vh 4vw 2vh 6vw;
    }

    footer{
        margin-top:3vh;
        font-weight: bold;
        font-style: italic;
    }
}